
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
/* Цвета: */
:root{

    --gray-70:#C5C5C5;  /* Серый */
    --red :#FF0000; /* Красный */
    --dark-gray-33: #333333; /* Темно-серый */
    --white: #FFFFFF; /* Белый */
    --black :#000000; /* Черный */
    --font :'Open Sans', sans-serif;
    
}

