
.imageContainer {
    width: 100%; // Занимать всю ширину родительского элемента
    overflow: hidden; // Скрыть все, что выходит за границы
}


.imageWrapper {
    width: 100%; // Занимать всю ширину .imageContainer
    height: 50vh; // Фиксированная высота в пикселях
}

img {
    width: 100%; // Занимать всю ширину .imageWrapper
    height: 100%; // Высота будет автоматически рассчитываться, чтобы сохранить пропорции изображения
    object-fit: cover; // Это свойство позволяет изображению заполнять элемент, обрезая лишнее
  }
  
  