
.imageContainer {
    width: 100%; /* Full bredde */
    overflow: hidden; /* Skjul overflødig innhold */
  }
  
  .imageWrapper {
    width: 100%; /* Full bredde */
    height: 500px; /* Spesifikk høyde, kan justeres etter behov */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100%; /* Full bredde av .imageWrapper */
    height: 500px; /* Spesifikk høyde */
    object-fit: cover; /* Fyll beholderen, beskjær overskudd */
  }
  