
.imageContainer {
    width: 100%; // Занимать всю ширину родительского элемента
    overflow: hidden; // Скрыть все, что выходит за границы

    .imageWrapper {
        width: auto;
        height: 50%; // Фиксированная высота в пикселях
    }
    img {
        width: 100%; // Занимать всю ширину .imageWrapper
        // height: 50%; // Высота будет автоматически рассчитываться, чтобы сохранить пропорции изображения
        object-fit: cover; // Это свойство позволяет изображению заполнять элемент, обрезая лишнее
      }
      
}



  