@import url(../../GlobalStyle.module.scss);

.cardCantainer {
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    margin: auto;
    gap: 2rem;
    font-size: 1rem;
    border: none;
    padding: 0;
    
    h4 {
        padding: 1rem;
        text-align: start;
        text-align: start;
        font-family: var(--font);
        color: var(--black);
        text-transform: uppercase;
    }
}

.hotelCard {
    margin: 3rem;
    text-align: center;
    width: 50%;
    align-items: center;
    transition: 0.3s;
    background-color:var(--white);
}

// .hotelCard:hover {
//     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
// }

img {
    width: 100%;
}




